# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  We keep .spec files in git, but ignore build/dist outputs
# build/
# dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosenv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
venv/
.venv/
ENV/
env/

# Environments
.env
.env.*

# VS Code / IDE
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Application local storage & templates
app/storage/templates/*
!app/storage/templates/.gitkeep
